[submodule "MNRL"]
	path = MNRL
	url = https://github.com/kevinaangstadt/MNRL.git
[submodule "HSCompile"]
	path = HSCompile
	url = https://github.com/kevinaangstadt/HSCompile.git
[submodule "VASim"]
	path = VASim
	url = https://github.com/jackwadden/VASim.git
[submodule "RAPID"]
	path = RAPID
	url = https://github.com/kevinaangstadt/RAPID.git
[submodule "Automata-to-Routing"]
	path = Automata-to-Routing
	url = https://github.com/jackwadden/Automata-to-Routing
[submodule "AutomataLab"]
	path = AutomataLab
	url = https://github.com/jackwadden/AutomataLab
[submodule "DFAGE"]
	path = DFAGE
	url = https://github.com/vqd8a/DFAGE
[submodule "iNFAnt2"]
	path = iNFAnt2
	url = https://github.com/vqd8a/iNFAnt2
[submodule "ANMLZoo"]
	path = ANMLZoo
	url = https://github.com/jackwadden/ANMLZoo
